.root {
    -fx-background-color: black;
}

#title_pane {
    -fx-background-color: #212121;
}

#title_label {
    -fx-font-size: 50px;
    -fx-text-fill: #b9b9b9;
    -fx-padding: 0px 0px 0px 30px;
}

#data_pane {
    -fx-background-color: #b9b9b9;
}

#data_label {
    -fx-font-size: 120px;
    -fx-text-fill: #212121;
    -fx-padding: 0px 0px 0px 50px;
}

#main_title_label {
    -fx-font-size: 50px;
    -fx-text-fill: darkseagreen;
}

#switch_button {
    -fx-text-fill: #4c4c4c;
    -fx-border-radius: 2px;
    -fx-border-width: 1px;
    -fx-border-color: #4c4c4c;
    -fx-background-color: transparent;
}
#switch_button:hover {
    -fx-text-fill: cornflowerblue;
    -fx-border-color: cornflowerblue;
}
#switch_button:pressed {
    -fx-text-fill: azure;
    -fx-border-color: azure;
}